<div>
  Search:
  <input type="text"
         [formControl]="searchInput">
</div>

<div class="pagination">

  <!-- <span *ngIf="page > 1"> -->
  <span>
    <button (click)="changePage(false)">&lt;</button> Prev
  </span>

  <span> {{ page }} of {{ totalPages }} pages</span>

  <!-- <span *ngIf="page < totalPages">Next -->
  <span>Next
    <button (click)="changePage(true)">&gt;</button>
  </span>

</div>

<table>

  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <!-- Seems to have no functionality
      <th>Cool column</th> -->
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let entry of dataWithFilteringAndPaging$ | async; trackBy:trackByName">
      <th>{{ entry.name }}</th>
      <td>{{ entry.description }}</td>
      <td>{{ entry.status }}</td>
      <!-- <td>
        <div *ngFor="let x of emptyArray"></div>
      </td> -->
    </tr>
  </tbody>

</table>