<div>
  Search:
  <input type="text"
         [formControl]="searchInput">
</div>

<div class="pagination">

  <span *ngIf="page > 1">
    <button (click)="changePage(false)">&lt;</button> Prev
  </span>

  <span> {{ page }} of {{ totalPages }} pages</span>

  <span *ngIf="page < totalPages">Next
    <button (click)="changePage(true)">&gt;</button>
  </span>

</div>

<table>

  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let entry of dataWithFilteringAndPaging$ | async; trackBy:trackByName">
      <th>{{ entry.name }}</th>
      <td>{{ entry.description }}</td>
      <td>{{ entry.status }}</td>
    </tr>
  </tbody>

</table>